body{
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.quadro-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    width: 350px;
    height: 300px;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 3px 1px #f5f5f4e0;
    border-radius: 5px;

    .form-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .inputs{
            padding-left: 10px;
            text-align: start;
            width: 225px;
            height: 34px;
            border-radius: 25px;
        }

        .botao-login{
            width: 200px;
            height: 40px;
            color: white;
            background-color: rgba(0, 0, 0, 0.774);
            text-align: center;
            border-radius: 50px;
            box-shadow: 0px 0px 4px 1px #FFFEF6;
            border: none;
            cursor: pointer;
        }

        .botao-login:hover{
            background-color: #7a7a7a;
        }
    }
}

