/* CSS PÁGINA PRINCIPAL*/
body{
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;

        
        li a{
            display: block;
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            
        }
        
    }
}

h2{
    display: flex;
    flex-direction: column;
}

.quadro-principal{
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px 1px #f5f5f4e0;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    text-align: center;
    
   img{
    box-shadow: 0px 0px 10px 1px #f5f5f4e0;
    max-width: 100%;
    height: 150px;
    border-radius: 10px;
   }
   img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
   }

    .opcoes{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: 20px;
    }
}

/* CSS PÁGINA LOGIN*/
.quadro-login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    width: 350px;
    height: 300px;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px 1px #f5f5f4e0;
    border-radius: 5px;

    .form-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .inputs{
            padding-left: 10px;
            text-align: start;
            width: 225px;
            height: 34px;
            border-radius: 25px;
        } 
    }
}

.quadro-login-form .botao-login{
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.774);
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 1px #FFFEF6;
    border: none;
    cursor: pointer;
}

.quadro-login-form .botao-login:hover{
    background-color: #7a7a7a;
}

/* CSS PÁGINA FAQ*/
.quadro-solucoes{
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px 1px #f5f5f4e0;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 50%;

    .caixa-pesquisa{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding-bottom: 10px;
        input{
            width: 300px;
            height: 30px;
            border-radius: 15px;
            padding-left: 10px;
        }

        button{
            width: 95px;
            height: 34px;
            border-radius: 15px;
            border: none;
            background-color: rgba(0, 0, 0, 0.774);
            color: white;
            cursor: pointer;
        }

        button:hover{
            background-color: #7a7a7a;
        }
    }

    .lista-solucoes{
        width: 90%;
        height: 90%;
        overflow-y: auto;
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }
}

/*QUADRO ANALISTA*/
.quadro-tickets-analista{
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px 1px #f5f5f4e0;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    .lista-tickets-analista{
        width: 90%;
        height: 90%;
        overflow-y: auto;
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }
}

/*QUADRO GERENTE DASHBOARD*/
.quadro-dashboard{
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px 1px #f5f5f4e0;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    .dashboard{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: 90%;
        overflow-y: auto;
        border-top: 1px solid #ccc;
        padding-top: 10px;

        .lista-analistas-gerente{
            width: 40%;
            height: 90%;
            overflow-y: auto;
            border-right: 1px solid #ccc;
            padding-right: 10px;
        }

        .lista-tickets-gerente{
            width: 40%;
            height: 90%;
            overflow-y: auto;
            padding-left: 10px;
        }
    }
}

